<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<div class="container" style="text-align: center;">
    <div class="panel" *ngFor="let s of studios">

        <!-- ============================================== -->
        <!-- ============= HEADER du panneau ============== -->
        <!-- ============================================== -->


        <div class="panel-heading">
            <span class="panel-price"> {{s.prix}} €</span>
            <span class="panel-rating">
                <ngb-rating [(rate)]="s.standard">
                    <ng-template let-fill="fill" let-index="index">
                        <span class="star" [class.filled]="fill === 100" [class.bad]="index < 2"
                            [class.perfect]="index === 4">&#9733;</span>
                    </ng-template>
                </ngb-rating>
            </span>



        </div> <!-- end div header -->

        <!-- =========================================== -->
        <!-- ============= BODY du panneau ============= -->
        <!-- =========================================== -->
        <div class="panel-body">
        </div> <!-- end div body -->

        <!-- ============================================= -->
        <!-- ============= FOOTER du panneau ============= -->
        <!-- ============================================= -->
        <div class="panel-footer">

            <!-- ++++ BOUTON POUR EDITER ++++ -->
            <button class="btn" (click)="editStudio(s.id_bien)">
                Consulter
            </button>

            <!-- ++++ BOUTON POUR SUPPRIMER ++++ -->
            <button class="btn" (click)="deleteStudio(s)">
                Supprimer
            </button>

        </div> <!-- end div footer -->

        

    </div> <!-- end div panel -->

    <button class="btn"  (click)="editStudio(0)">
        Ajouter un studio
    </button>
   
   
    

</div>

