.btntest{
    background-color: goldenrod;
    color: lightgray;
    margin-top: 10px;
    margin-bottom : 10px;
}

.divtest{
    background-color: black;
}

.divtest2{
    background-color: darkgray;
}

li a{
    color: goldenrod;
}