<div class="container">
    <div class="info">
        <div class="left">
            <div class="top"> <a> Nous contacter </a> </div>
            <hr/>
            <div class="bottom"> <a href="/mentionlegales"> Mentions Légales </a></div>
        </div>

        <!--  <div class="vl"></div>-->

        <div class="right">
            <div class="top"> <a href="/nosAgences"> Nos agences </a> </div>
            <hr/>
            <div class="bottom"> <a> Données personnelles </a></div>
        </div>

        <div id="div-hdp">
            <a onclick="window.top.window.scrollTo(0,0);" class="a-hdp">
                <img src="assets/images/icones/Fleche_haut_de_page.jpg" width="50%">
                <p class= "p-hdp">Haut de Page</p>
            </a>
        </div>  

    </div>

    <div class="copyright">
        <p>André | Didier | Jad | Jean-François | Pierrick &copy; INTI Formation 2020</p>
    </div>

</div>