/* ensemble du header */
.container{
    text-align: center;
    background-color: black;
    border-radius: 10px;
    height: 85px;
    margin-bottom: 50px;
}

/* logo */

img{
    width:60px;
    border: lightgray solid;
}

/* nom du logo */
.nomLogo{
  font-size: 30pt;
  padding-left: 10px;
}

/* bouton */
nav button{
    margin-left: 520px;
    width: 18%;
    padding-left: 2px;
    /*margin-top : 25px;*/
    background-color: goldenrod;
   
}

/* liens */
a{
    background-color: black;
    color: #daa520;
}

/* liens survolé */
a:hover{
    background-color: goldenrod;
    color: black;
    border-radius: 5px;
}

/* menu déroulant */
.DropdownMenu{
    background-color: black;
}