<div class="container">

    <!-- barre de navigation -->
    <nav class="navbar navbar-expand-lg  bg-faded">

        <!-- logo  -> accueil -->
        <a class="navbar-brand" (click)="goAccueil()">
            <img src="assets/images/icones/logoIB.png" width="30" height="60" class="d-inline-block align-top" alt="">
            <span class="nomLogo">Immo'Bill</span>
        </a>
        
        <div class="navbar-nav">
               <!-- Personnes -->
               <li ngbDropdown class="">
                <a href (click)="false" class="nav-link" ngbDropdownToggle>Personnes</a>
                <div ngbDropdownMenu class="DropdownMenu">
                    <div >
                        <a class="nav-link" [routerLink]="['clientList']"
                            [routerLinkActive]="['active','decoration']">Client</a>
                    </div>
                    <div>
                        <a class="nav-link" [routerLink]="['agentList']"
                            [routerLinkActive]="['active','decoration']">Agent</a>
                    </div>
                    <div>
                        <a class="nav-link" [routerLink]="['proprietaireList']"
                            [routerLinkActive]="['active','decoration']">Proprietaire</a>
                    </div>
                    <div>
                        <a class="nav-link" [routerLink]="['administrateurList']"
                            [routerLinkActive]="['active','decoration']">Administrateur</a>
                    </div>
                
                </div>
            </li>

            <!-- Biens -->
            <li ngbDropdown class="">
                <a href (click)="false" class="nav-link" ngbDropdownToggle>Biens</a>
                <div ngbDropdownMenu class="DropdownMenu">
                    <div >
                        <a class="nav-link" [routerLink]="['terrainList']"
                            [routerLinkActive]="['active','decoration']">Terrains</a>
                    </div>
                    <div>
                        <a class="nav-link" [routerLink]="['maisonList']"
                            [routerLinkActive]="['active','decoration']">Maison</a>
                    </div>
                    <div>
                        <a class="nav-link" [routerLink]="['appartementList']"
                            [routerLinkActive]="['active','decoration']">Appartement</a>
                    </div>
                    <div>
                        <a class="nav-link" [routerLink]="['studioList']"
                            [routerLinkActive]="['active','decoration']">Studio</a>
                    </div>
                    <div>
                        <a class="nav-link" [routerLink]="['entrepotsList']"
                            [routerLinkActive]="['active','decoration']">Entrepot</a>
                    </div>
                    <div>
                        <a class="nav-link" [routerLink]="['bureauList']"
                            [routerLinkActive]="['active','decoration']">Bureau</a>
                    </div>
                    <div>
                        <a class="nav-link" [routerLink]="['commerceList']"
                            [routerLinkActive]="['active','decoration']">Commerces</a>
                    </div>
                </div>
            </li>

            <!-- Autre -->
            <li ngbDropdown class="">
                <a href (click)="false" class="nav-link" ngbDropdownToggle>Autres</a>
                <div ngbDropdownMenu class="DropdownMenu">
                    <div >
                        <a class="nav-link" [routerLink]="['contratLocationList']"
                            [routerLinkActive]="['active','decoration']">Contrat de Location</a>
                    </div>
                    <div>
                        <a class="nav-link" [routerLink]="['contratVenteList']"
                            [routerLinkActive]="['active','decoration']">Contrat de Vente</a>
                    </div>
                    <div>
                        <a class="nav-link" [routerLink]="['visiteList']"
                            [routerLinkActive]="['active','decoration']">Visite</a>
                    </div>
                    <div>
                        <a class="nav-link" [routerLink]="['adresseBienList']"
                            [routerLinkActive]="['active','decoration']">Adresse des bien</a>
                    </div>
                    <div>
                        <a class="nav-link" [routerLink]="['adressePersonneList']"
                            [routerLinkActive]="['active','decoration']">Adresse des personnes</a>
                    </div>
                
                </div>
            </li>

        </div>

        <!-- bouton 'Se connecter' -->
        <div *ngIf="!isLoggedIn">
            <button class="btn" routerLink="login" href="/login">Se connecter</button>
        </div>
        <div *ngIf="isLoggedIn">
            <button class="btn" (click)="logout()">déconnexion</button>
        </div>
       
    </nav>

</div>
