<div class="page">
    <div class="texte">
        <h2>Données Personnelles</h2>
        <br />
        <p class="p1"><b></b><span class="s1">L&rsquo;accès à vos données personnelles est strictement limité au
                personnel et agents commerciaux de l&rsquo;Agence, habilités en raison de leurs fonctions et tenus à une
                obligation de confidentialité. Cependant, les données collectées pourront éventuellement être
                communiquées à des sous-traitants chargés contractuellement de l&rsquo;exécution des tâches nécessaires
                au bon fonctionnement du Site et de ses services ainsi qu’à la bonne gestion de la relation avec vous,
                sans que vous ayez besoin de donner votre autorisation. Il est précisé que, dans le cadre de l’exécution
                de leurs prestations, les sous-traitants n’ont qu’un accès limité à vos données et ont une obligation
                contractuelle de les utiliser en conformité avec les dispositions de la législation applicable en
                matière de protection des données personnelles. En dehors des cas énoncés ci-dessus, l&rsquo;Agence
                s&rsquo;engage à ne pas vendre, louer, céder ou donner accès à des tiers à vos données sans votre
                consentement préalable, à moins d’y être contraints en raison d’un motif légitime (obligation légale,
                lutte contre la fraude ou l’abus, exercice des droits de la défense, etc.).</span></p>
        <p class="p2"><span class="s1">Conformément aux dispositions légales et réglementaires applicables, en
                particulier la loi n° 78-17 du 6 janvier 1978 modifiée relative à l&rsquo;informatique, aux fichiers et
                aux libertés et du règlement européen n°2016/679/UE du 27 avril 2016 (applicable dès le 25 mai 2018),
                vous disposez des droits suivants :</span></p>
        <ul class="ul1">
            <li class="li3"><span class="s1">Exercer votre droit d’accès, pour connaître les données personnelles qui
                    vous concernent ;</span></li>
            <li class="li3"><span class="s1">Demander la mise à jour de vos données, si celles-ci sont inexactes
                    ;</span></li>
            <li class="li3"><span class="s1">Demander la portabilité ou la suppression de vos données ;</span></li>
            <li class="li3"><span class="s1">Demander la limitation du traitement de vos données ;</span></li>
            <li class="li3"><span class="s1">Vous opposer, pour des motifs légitimes, au traitement de vos données
                    ;</span></li>
            <li class="li3"><span class="s1">Vous opposer ou retirer votre consentement à l’utilisation, par nos
                    services, de vos coordonnées pour l’envoi de nos promotions et sollicitations via courriers
                    électroniques, messages SMS, appels téléphoniques et courriers postaux. Ce droit demeure valable que
                    les informations vous concernant nous aient été transmises directement par vous ou par des
                    partenaires tiers à qui vous les avez communiquées (dans ce cas, il faudra cliquer sur les liens de
                    désinscription prévus dans nos SMS ou courriels ou nous contacter dans les conditions
                    ci-après).</span></li>
        </ul>
        <p class="p2"><span class="s1">Ces différents droits sont à exercer soit en modifiant les paramètres de votre
                compte, soit directement sur le Site à la rubrique « Contact », soit par courrier postal, soit par
                courriel à l&rsquo;adresse présente depuis le lien « Mentions légales ».</span></p>
        <p class="p2"><span class="s1">Pour des raisons de sécurité et éviter toute demande frauduleuse, cette demande
                devra être accompagnée d&rsquo;un justificatif d&rsquo;identité. Le justificatif sera détruit une fois
                la demande traitée.</span></p>
        <p class="p2"><span class="s1">Pour toute information complémentaire ou réclamation, vous pouvez contacter la
                Commission Nationale de l’Informatique et des Libertés (plus d’informations sur www.cnil.fr).</span></p>

    </div>
</div>