<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<div class="container">
    <div class="panel" *ngFor="let t of terrains">

        <!-- ============================================== -->
        <!-- ============= HEADER du panneau ============== -->
        <!-- ============================================== -->


        <div class="panel-heading">
            <span class="panel-price"> {{t.prix}} €</span>
            <span class="panel-rating">
                <ngb-rating [(rate)]="t.standard">
                    <ng-template let-fill="fill" let-index="index">
                        <span class="star" [class.filled]="fill === 100" [class.bad]="index < 2"
                            [class.perfect]="index === 4">&#9733;</span>
                    </ng-template>
                </ngb-rating>
            </span>



        </div> <!-- end div header -->

        <!-- =========================================== -->
        <!-- ============= BODY du panneau ============= -->
        <!-- =========================================== -->
        <div class="panel-body">
        </div> <!-- end div body -->

        <!-- ============================================= -->
        <!-- ============= FOOTER du panneau ============= -->
        <!-- ============================================= -->
        <div class="panel-footer">

            <!-- ++++ BOUTON POUR EDITER ++++ -->
            <button class="btn" (click)="editTerrain(t.id_bien)">
                Consulter
            </button>

            <!-- ++++ BOUTON POUR SUPPRIMER ++++ -->
            <button class="btn" (click)="deleteTerrain(t)">
                Supprimer
            </button>

        </div> <!-- end div footer -->

        

    </div> <!-- end div panel -->

    <button class="btn col-md-12"  (click)="editTerrain(0)">
        Ajouter un terrain
    </button>
   
   
    

</div>



<!-- <div>

    <h1>Liste Des terrains</h1>

    <br />
    <hr>
    <br />

    <div>
        <ul *ngFor="let t of terrains">
            <div class="divterrain container-md col-md-4">
                <div class="photos">
                    <div class="info">
                        {{t.dateDisposition}}
                        {{t.dateSoumission}}
                        <span class="prix">{{t.prix}} €</span>

                    </div>
                </div>
            </div>

        </ul>
    </div>

</div> -->