<div class="page">
    <div class="texte">
        <h2>Nos agences immobilières</h2>

        <table class="table table-striped">
            <tr>
                <th>Nom de L'agence</th>
                <th>Adresse</th>
                <th>Directeur de l'agence</th>
                <th></th>
                <th>Horaire d'ouverture</th>
            </tr>

            <tr class="trimpair">
                <td>Immo'Bill Paris</td>
                <td>44 avenue des Champs-Elysées, 75008 Paris</td>
                <td>Bill Boquet</td>
                <td><img src="assets/images/trombi/Nathan_Muller.png"/></td>
                <td>Tous les jours : 9h00 - 22h00</td>
            </tr>

            <tr class="trpair">
                <td>Immo'Bill Marseille</td>
                <td>61 Rue Marx Dormoy, 13004 Marseille</td>
                <td>Hélène Pommis</td>
                <td><img src="assets/images/trombi/Orianne_Dodier.png"/></td>
                <td>Tous les jours : 9h00 - 22h00</td>
            </tr>
            
            <tr class="trimpair">
                <td>Immo'Bill Caen</td>
                <td>6 rue du 6 juin, 14000 Caen</td>
                <td>Thomas Lefort</td>
                <td><img src="assets/images/trombi/Thomas_Bonneau.png"/></td>
                <td>Lundi au samedi : 9h00 - 22h00 </td>
            </tr>

            <tr class="trpair">
                <td>Immo'Bill Biarritz</td>
                <td>7 rue de la Maison Suisse, 64200 Biarritz</td>
                <td>Léa Duflos</td>
                <td><img src="assets/images/trombi/Laurène_Lacordaire.png"/></td>
                <td>Lundi au samedi : 9h00 - 22h00 </td>
            </tr>

            <tr class="trimpair">
                <td>Immo'Bill Strasbourg</td>
                <td>9 Rue d'Orbey, 67100, Strasbourg</td>
                <td>Martha Fielderkruck</td>
                <td><img src="assets/images/trombi/Léa_Febvre.png"/></td>
                <td>Lundi au samedi : 9h00 - 22h00 </td>
            </tr>


        </table>

    </div>
</div>