<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<div class="container" style="text-align: center; width: 1170px;">
<div class="panel panel-primary" *ngFor="let v of visites" >

 
    <!-- ============================================== -->
    <!-- =============== Body du panneau ============== -->
    <!-- ============================================== -->
    
        <div class="panel-body">
            <div>
                <div class="row vertical-align">


                    <table id="TableVisite">
                        <tr style="font-weight: bold;">
                           
                            <!-- _______ ID ______ -->
                            <td>ID</td>

                            <!-- _______ Date ______ -->
                            <td>Date</td>

                            <!-- _______ Heure ______ -->
                            <td>Horaire</td>

                            <!-- _______ Bien ______ -->
                            <td *ngIf="previewInfos">Bien Immobilier</td>

                            <!-- _______ Agent ______ -->
                            <td *ngIf="previewInfos">Agent</td>

                            <!-- _______ Client ______ -->
                            <td *ngIf="previewInfos">Client</td>

                            <!-- _______ Propriétaire ______ -->
                            <td *ngIf="previewInfos">Propriétaire</td>

                            <!-- <td rowspan="2" >&oplus; d'infos</td> -->
                        </tr>

                        <tr>
                            <!-- _______ ID ______ -->
                            <td>{{v.id_visite}}</td>

                            <!-- _______ Date ______ -->
                            <td>{{v.date}}</td>

                            <!-- _______ Heure ______ -->
                            <td>{{v.heure}}</td>

                            <!-- _______ Bien ______ -->
                            <td *ngIf="previewInfos">{{v.bien}}</td>

                            <!-- _______ Agent ______ -->
                            <td *ngIf="previewInfos">{{v.agent}}</td>

                            <!-- _______ CLient ______ -->
                            <td *ngIf="previewInfos">{{v.client}}</td>

                            <!-- _______ Propriétaire ______ -->
                            <td *ngIf="previewInfos">{{v.proprietaire}}</td>

                            
                        </tr>
                    </table>
     
                </div>
            </div>
        </div>
    

        <!-- ============================================== -->
        <!-- ============== footer du panneau ============= -->
        <!-- ============================================== -->
        <div class="panel-footer">

            <!-- bouton pour éditer -->
            <button class="btn btn-editer" (click)="editVisite(v.id_visite)">
                Modifier
            </button> &nbsp;

            <!-- bouton pour infos -->
            <button class="btn btn-infos" (click)="toggleInfosPreview()">
                {{ previewInfos ? "Θ d'infos" : "⊕ d'infos" }}
            </button>

            <!-- bouton pour supprimer -->
            <button class="btn btn-supprimer" (click)="deleteVisite(v)">
                Supprimer
            </button>
        </div>

    </div>

</div><!-- fin div container -->

<div class="container" style="padding-right: 2%;">

    <!-- bouton pour ajouter -->
    <button class="btn btn-ajouter" (click)="editVisite(0)">
        Λلouter
    </button>

</div>